.vscode/
/applications.html
/bitnami.css
Crypt/
dashboard/
/favicon.ico
File/
img/
/index.php
Math/
/movableDiv.html
Net/
/phpinfotest.php
phpsec/
System/
/taxoForward.php
/taxoForwardLocal.php
webalizer/
xampp/